* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.az_td_mod_006_behind .az_td_mod_006_name_oferta {
    width: 53%;
    margin-top: 0px;
    left: -1px;
    position: absolute;
    padding: 15px 30px;
    background-image: url(https://tudoazul.voeazul.com.br/documents/26002/995221/bg_oferta.png/945663c0-d7b2-4e35-956d-f13f056fea87?t=1616805649386);
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 14px 0px 0px 0px;
}

.az_td_mod_006_card .az_td_mod_006_name_oferta p {
    font-size: 16px;
    color: #21b7e8;
    font-weight: bold;
    text-align: right;
    margin-right: 40px;
    padding-right: 40px;
}

.az_td_mod_006_card .az_td_mod_006_block_name_oferta_content {
    position: relative;
}

.az_td_mod_006_behind {
    background-image: url(https://tudoazul.voeazul.com.br/documents/26002/995221/88_lp2_02-min.png);
    margin-left: -10px;
    margin-right: -10px;
}

.az_td_conteiner_mod_066 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.az_td_mod_006_card {
    background: white;
    width: 270px;
    height: 400px;
    margin: 18px;
    border-radius: 14px;
}

.az_td_mod_006_card-img {
    display: block;
    width: 100%;
    background-size: cover;
    border-radius: 14px 14px 0px 0px;
}

.az_td_mod_006_card a {
    background-color: rgb(2, 0, 36);
    color: #fff;
    padding: 8px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 6px;
    margin-top: 20px;
    text-decoration: none;
}

.az_td_mod_006_card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
    transform: translateY(-10px);
}

.az_td_mod_006_card-text h2 {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin-top: 8px;
}

.az_td_mod_006_card-text_2 h2 {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin-top: 8px;
}

.az_td_mod_006_card-text p {
    text-align: center;
    margin-top: -3px;
    color: #21b7e8;
    padding: 0px 0px 0px 107px;
}

.az_td_mod_006_card-text_2 p {
    text-align: center;
    margin-top: -3px;
    color: #21b7e8;
    padding: 0px 0px 0px 7px;
}

.az_td_mod_006_card-text h4 {
    text-align: center;
    margin-top: -82px;
    color: #21b7e8;
    font-size: 57px;
    padding: 0px;
}

.az_td_mod_006_card-text_2 h4 {
    text-align: center;
    margin-top: -98px;
    color: #061216;
    font-size: 57px;
    padding: 0px;
}

.az_td_mod_006_card-text h3 {
    padding: 30px 11px;
}

.az_td_mod_006_card-text span {
    font-size: 18px;
}

.az_td_mod_006_card-text_2 h3 {
    padding: 30px 11px!important;
}